<footer
    class="w-full border-t dark:border-white h-24 grid grid-cols-[1fr_auto] items-center gap-4 dark:bg-[#111] bg-[#eee] mt-12"
>
    <nav
        class="w-full flex flex-row gap-2 justify-around items-center text-lg px-2 flex-wrap h-fit"
    >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/#portfolio">portfolio</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/themes">themes</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/blog">writing</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/about">about</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/links">links</a
        >
    </nav>
    <a href="/" class="p-4 flex flex-col items-center">
        <span class="text-xs">website of</span>
        <img src="/XYNY.svg" alt="XYNY" class="dark:invert w-13 h-13" />
    </a>
</footer>
