<nav class="max-w-4xl flex flex-row flex-wrap p-2 mx-auto items-center justify-between gap-8 text-2xl border-2">
    <a href="/"><img src="/XYNY.svg" alt="XYNY" class="dark:filter-invert w-16 h-16"></a>
    <a class="hover:underline focus:underline focus:outline-none" href="/#portfolio">portfolio</a>
    <a class="hover:underline focus:underline focus:outline-none" href="/themes">themes</a>
    <a class="hover:underline focus:underline focus:outline-none" href="/about">about</a>
    <a class="hover:underline focus:underline focus:outline-none" href="/links">links</a>
</nav>