<nav
    class="max-w-4xl flex flex-row flex-wrap p-2 mx-auto items-center justify-between gap-8 text-2xl outline-2 outline-black dark:outline-white border-t-0 pr-16 bg-gray-200 dark:bg-black"
>
    <a href="/"
        ><img src="/XYNY.svg" alt="XYNY" class="dark:invert w-16 h-16" /></a
    >
    <a
        class="hover:underline focus:underline focus:outline-none"
        href="/#portfolio">portfolio</a
    >
    <a class="hover:underline focus:underline focus:outline-none" href="/themes"
        >themes</a
    >
    <a class="hover:underline focus:underline focus:outline-none" href="/blog"
        >writing</a
    >
    <a class="hover:underline focus:underline focus:outline-none" href="/about"
        >about</a
    >
    <a class="hover:underline focus:underline focus:outline-none" href="/links"
        >links</a
    >
</nav>
