<header
    class="max-w-4xl mx-auto grid grid-cols-[auto_1fr] items-center p-2 outline-2 outline-black dark:outline-white border-t-0 bg-gray-200 dark:bg-black"
>
    <a href="/"
        ><img src="/XYNY.svg" alt="XYNY" class="dark:invert w-16 h-16" /></a
    >
    <nav
        class="flex flex-row flex-wrap items-center justify-between sm:gap-x-8 gap-x-4 text-2xl px-6 h-fit"
    >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/#portfolio">portfolio</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/themes">themes</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/blog">writing</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/about">about</a
        >
        <a
            class="hover:underline focus:underline focus:outline-none"
            href="/links">links</a
        >
    </nav>
</header>
