---
import Layout from "@layouts/Layout.astro";
import Header from "@components/basic/Header.astro";

import { getEntry } from "astro:content";
const about = await getEntry("about", "about");
const { Content } = await about.render();
---

<Layout title="ABOUT XYNY">
    <main class="dark:bg-black dark:text-white w-full min-h-screen">
        <Header />
        <section
            class="prose dark:prose-invert prose-li:marker:text-black dark:prose-li:marker:text-white prose-ul:ps-4 prose-p:my-3 prose-img:my-2 prose-li:my-0 max-w-4xl mx-auto text-[#191919] dark:text-[#DDD] mt-6 pb-12 p-4"
        >
            <Content />
        </section>
    </main>
</Layout>
