---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="dark:bg-black dark:text-white">
		<section class="grid sm:grid-cols-[2fr_1fr] grid-rows-2 max-w-555 mx-auto">
			<h1 class="w-full h-full"><img class="max-h-screen dark:filter-invert" src="/XYNY.svg" alt="XYNY"></h1>
			<nav class="flex flex-col sm:items-end text-5xl gap-12 p-12">
				<a class="hover:underline focus:underline focus:outline-none" href="#portfolio">portfolio</a>
				<a class="hover:underline focus:underline focus:outline-none" href="/themes">themes</a>
				<a class="hover:underline focus:underline focus:outline-none">about</a>
				<a class="hover:underline focus:underline focus:outline-none">links</a>
			</nav>
		</section>
		<section id="portfolio" class="h-screen max-w-555 mx-auto">
			
		</section>
	</main>
</Layout>