---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="grid grid-cols-[2fr_1fr]">
			<h1><img src="/XYNY.svg" alt="XYNY"></h1>
			<nav class="flex flex-col items-end text-5xl gap-12 p-12">
				<a href="#portfolio">portfolio</a>
				<a>themes</a>
				<a>about</a>
				<a>links</a>
			</nav>
		</section>
		<section id="portfolio" class="h-screen">
			
		</section>
	</main>
</Layout>